<!DOCTYPE html>
<html>
<head>
  <title>Resilience Project - Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="login.css"/>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="resilienceMain">Resilience Project</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="resilienceMain">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href = "patient_page_post-login">Patient Profile</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <br><br>
  <div class="login-page">

    <div class="form">
      <a href = "login"> <button type = "button" id = "patientlog">Patinet Login</button> </a>
      <a href = "adminlogin"> <button type = "button" id = "adminlog">Admin Login</button> </a>

      <h1><center>Log in to your Admin Profile:</center></h1>

        <center><input type="text" placeholder="Username" id= "user"/></center><br>
        <center><input type="password" placeholder="Password" id= "pass"/></center><br>
        <center><button onclick="loginFunc()">Login</button></center><br>

      </form>
      <center><a href = "resilienceMain">Back to Resilience home.</a></center>
    </div>
  </div>

</body>
</html>

<script>
  function loginFunc() {

    var unsername = document.getElementByID("user");
    var password = document.getElementByID("pass");

    for(i=0; i<list.length; i++) {
      if(list[i].Username == username) {
        if(list[i].Password == password) {
          // link to the patient list page here

          location.href = "patientlist";
        }
      }
    }
    location.href = "resilienceMain";
  }


</script>
