<!DOCTYPE html>
<html>
<head>
  <title>Resilience Project - Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
</head>

<body>

  <div>
    <p><a href = "resilienceMain">Back to Resilience home</a>.</p>
  </div>

  <h1> Patients </h1>
  <ul>
    <% for(i = 0; i < list; i++) { %>
        <li>
          <%=  i  %>
        </li>

    <% } %>
  </ul>

</body>
</html>
